<% content_for :title, "Admin dashboard" %>

<div class="dashboard-wrapper">
  <div class="dashboard-container">
    <div class="sidebar">
      <%= link_to root_path do %>
        <%= render partial: 'shared/logo' %>
      <% end %>
      <ul class="list-unstyled">
        <li>
          <%= link_to "#locations" do %>
            <i class="fa-solid fa-location-dot"></i> Locations
          <% end %>
        </li>
        <li>
          <%= link_to "#statistics" do %>
            <i class="fa-solid fa-map"></i> Heat map
          <% end %>
        </li>
        <li>
          <%= link_to "#chart" do %>
            <i class="fa-solid fa-chart-simple"></i> Charts
          <% end %>
        </li>
        <li>
          <%= link_to "#metrics" do %>
            <i class="fa-solid fa-list-ol"></i> Metrics
          <% end %>
        </li>
      </ul>
    </div>
    <div class="dashboard">
      <div class="container position-relative pt-4">
        <%= render partial: "shared/dropdown" %>
        <div class="row">
          <div class="col-12">
            <h1 class="mt-3">
              Admin dashboard
            </h1>
            <section id="locations">
              <h2 class="mt-3">
                All locations
              </h2>
              <div class="alert alert-info mt-3" role="alert">
                With the button on the right you can verify supplier locations, unverified locations will not show up on the platform.
              </div>
              <div class="location-list-wrapper" data-controller="search">
                <div class="field">
                  <input 
                    type="text" 
                    data-search-target="input" 
                    data-action="input->search#handleInput" 
                    data-url="<%= admin_url %>"
                    class="form-control sized-input"
                    placeholder="Search"
                  >
                </div>
                <form action="<%= admin_url %>" data-controller="checkbox" class="my-3">
                  <% ['Standard', 'ITMs', 'Pure', 'High pure', 'Ultrapure'].each do |type| %>
                    <div class="form-check d-inline-block me-2">
                        <input type="checkbox" class="form-check-input" id="type-<%= type.object_id %>" name="supply_type[<%= type %>]" value="true" <%= 'checked' if params[:supply_type] && params[:supply_type][type] %> data-action="change->checkbox#handleChange">
                        <label for="type-<%= type.object_id %>" class="form-check-label" aria-label="<%= SupplyType.new(name: type).present.description %>" data-balloon-pos="up">
                          <%= type %>
                        </label>
                    </div>
                  <% end %>
                </form>
                <ul class="list-unstyled location-list" data-search-target="list">
                  <%= render partial: "locations", locals: { supplier_locations: @supplier_locations } %>
                </ul>
              </div>
            </section>
            <section id="statistics">
              <h2 class="section-header">
                <i class="fa-solid fa-map"></i> Offtaker volume heat map
              </h2>
              <div 
                id="heat-map" 
                data-controller="heat-map"
                data-heat-map-target="map" 
                data-center="<%= [-6.599110, 54.607009].to_json %>"
                data-key="<%= ENV['MAPBOX_API_KEY'] %>"
                data-zoom="8" 
                data-locations="<%= OfftakerLocation.generate_geojson(@request_filter_types) %>"
              >
              </div>
              <form action="<%= admin_url(anchor: 'heat-map') %>" data-controller="checkbox" class="my-3">
                <% ['Standard', 'ITMs', 'Pure', 'High pure', 'Ultrapure'].each do |type| %>
                  <div class="form-check d-inline-block me-2">
                    <input type="checkbox" class="form-check-input" id="type-<%= type.object_id %>" name="request_type[<%= type %>]" value="true" <%= 'checked' if params[:request_type] && params[:request_type][type] %> data-action="change->checkbox#handleChange">
                    <label for="type-<%= type.object_id %>" class="form-check-label" aria-label="<%= SupplyType.new(name: type).present.description %>" data-balloon-pos="up">
                      <%= type %>
                    </label>
                  </div>
                <% end %>
              </form>
            </section>
            <section id="chart">
              <h2 class="section-header">
                <i class="fa-solid fa-chart-simple"></i> Charts
              </h2>
              <div class="row pb-4">
                <h2 class="my-3">
                  Offtaker locations
                </h2>
                <div class="col-12 col-md-6">
                  <h4>
                    Created by month
                  </h4>

                  <%= render partial: "column_chart", locals: { 
                    marker_date: Date.today, 
                    weekly_url: api_v1_charts_offtaker_location_weekly_url,
                    monthly_url: api_v1_charts_offtaker_location_monthly_url,
                    yearly_url: api_v1_charts_offtaker_location_yearly_url,
                    height: '220px', 
                    name: 'location-creation',
                    extra_class: "chart-spacing",
                    total: true,
                    unit: 'locations'
                    } %>
                </div>
                <div class="col-12 col-md-6">
                  <h4>
                    Requested volume
                  </h4>
                  <%= render partial: "column_chart", locals: { 
                    marker_date: Date.today, 
                    weekly_url: api_v1_charts_offtaker_location_volume_weekly_url,
                    monthly_url: api_v1_charts_offtaker_location_volume_monthly_url,
                    yearly_url: api_v1_charts_offtaker_location_volume_yearly_url,
                    height: '220px', 
                    name: 'location-volume',
                    extra_class: "chart-spacing",
                    total: true,
                    unit: 'kilos'
                    } %>
                </div>
              </div>
              <div class="row py-4">
                <div class="col-12 col-md-6">
                  <h4>
                    Interest in oxygen offtake
                  </h4>
                  <%= render partial: "column_chart", locals: { 
                    marker_date: Date.today, 
                    weekly_url: api_v1_charts_offtaker_location_oxygen_interest_weekly_url,
                    monthly_url: api_v1_charts_offtaker_location_oxygen_interest_monthly_url,
                    yearly_url: api_v1_charts_offtaker_location_oxygen_interest_yearly_url,
                    height: '220px', 
                    name: 'oxygen-interest',
                    extra_class: "chart-spacing",
                    total: true,
                    unit: 'locations interested'
                    } %>
                </div>
              </div>
              <hr>
              <div class="row pt-4">
                <h2 class="my-3">
                  Scenarios
                </h2>
                <div class="col-12 col-md-6">
                  <h4>
                    Created by month
                  </h4>
                  <%= render partial: "column_chart", locals: { 
                    marker_date: Date.today, 
                    weekly_url: api_v1_charts_scenario_weekly_url,
                    monthly_url: api_v1_charts_scenario_monthly_url,
                    yearly_url: api_v1_charts_scenario_yearly_url,
                    height: '220px', 
                    name: 'scenario-creation',
                    extra_class: "chart-spacing",
                    total: true,
                    unit: 'scenarios'
                    } %>
                </div>
                <div class="col-12 col-md-6">
                  <h4>
                    Average road costs
                  </h4>
                  <%= render partial: "column_chart", locals: { 
                    marker_date: Date.today, 
                    weekly_url: api_v1_charts_average_road_costs_weekly_url,
                    monthly_url: api_v1_charts_average_road_costs_monthly_url,
                    yearly_url: api_v1_charts_average_road_costs_yearly_url,
                    height: '220px', 
                    name: 'average-road-costs',
                    extra_class: "chart-spacing",
                    total: false,
                    unit: 'pounds'
                    } %>
                </div>
              </div>
              <div class="row pt-4">
                <div class="col-12 col-md-6">
                  <h4>
                    Average distance
                  </h4>
                  <%= render partial: "column_chart", locals: { 
                    marker_date: Date.today, 
                    weekly_url: api_v1_charts_average_distance_weekly_url,
                    monthly_url: api_v1_charts_average_distance_monthly_url,
                    yearly_url: api_v1_charts_average_distance_yearly_url,
                    height: '220px', 
                    name: 'average-distance',
                    extra_class: "chart-spacing",
                    total: false,
                    unit: 'km'
                    } %>

                </div>
                <div class="col-12 col-md-6">
                  <h4>
                    Average pipeline costs
                  </h4>
                  <%= render partial: "column_chart", locals: { 
                    marker_date: Date.today, 
                    weekly_url: api_v1_charts_average_pipeline_costs_weekly_url,
                    monthly_url: api_v1_charts_average_pipeline_costs_monthly_url,
                    yearly_url: api_v1_charts_average_pipeline_costs_yearly_url,
                    height: '220px', 
                    name: 'average-pipeline-cost',
                    extra_class: "chart-spacing",
                    total: false,
                    unit: 'pounds'
                    } %>
                </div>
              </div>
              <hr>
              <div class="row py-4">
                <h2 class="my-3">
                  Offtaker accounts
                </h2>
                <div class="col-12 col-md-6">
                  <h4>
                    Created by month
                  </h4>
                  <%= render partial: "column_chart", locals: { 
                    marker_date: Date.today, 
                    weekly_url: api_v1_charts_offtaker_weekly_url,
                    monthly_url: api_v1_charts_offtaker_monthly_url,
                    yearly_url: api_v1_charts_offtaker_yearly_url,
                    height: '220px', 
                    name: 'offtaker-creation',
                    extra_class: "chart-spacing",
                    total: true,
                    unit: 'offtakers'
                    } %>
                </div>
                <div class="col-12 col-md-6">
                  <h4>
                    Average scenarios created by new accounts
                  </h4>
                  <%= render partial: "column_chart", locals: { 
                    marker_date: Date.today, 
                    weekly_url: api_v1_charts_offtaker_scenarios_created_weekly_url,
                    monthly_url: api_v1_charts_offtaker_scenarios_created_monthly_url,
                    yearly_url: api_v1_charts_offtaker_scenarios_created_yearly_url,
                    height: '220px', 
                    name: 'offtaker-scenarios-created',
                    extra_class: "chart-spacing",
                    total: false,
                    unit: 'scenarios'
                    } %>
                </div>
              </div>
            </section>
            <section id="metrics">
              <h2 class="section-header">
                <i class="fa-solid fa-list-ol"></i> Metrics
              </h2>
              <div class="row py-4">
                <div class="col-12 col-md-6">
                  <h4 class="mb-2">
                    Top offtaker locations by volume required
                  </h4>
                  <ol class="list-group list-group-numbered mt-3">
                    <% @top_five_offtaker_location_by_volume_required.each do |offtaker_location| %>
                      <li class="list-group-item">
                        <%= offtaker_location.name %> - <%= offtaker_location.required_hydrogen_volume %>
                      </li>
                    <% end %>
                  </ol>
                </div>
                <div class="col-12 col-md-6">
                  <h4 class="mb-2">
                    Top supplier locations by amount of scenarios
                  </h4>
                  <ol class="list-group list-group-numbered mt-3">
                    <% @top_five_supplier_location_by_scenarios.each do |supplier_location| %>
                      <li class="list-group-item">
                        <%= supplier_location[0] %> - <%= supplier_location[1] %> scenarios
                      </li>
                    <% end %>
                  </ol>    
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>