<% content_for :title, (request.path.include?('suppliers') ? "Supplier sign up" : "Offtaker sign up") %>

<div class="container" data-controller="disabled-with-check">
  <div class="row">
    <div class="col-12 col-md-6">
      <h2><%= (request.path.include?('suppliers') ? "Supplier sign up" : "Offtaker sign up") %></h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'devise-form', data: { turbo: false } }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email, class: "form-label" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :password, class: "form-label" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, class: "form-label" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="form-check mt-3">
          <label for="consent" class="form-check-label">I consent to blabla and the <a href="#">policy</a></label>
          <input type="checkbox" id="consent" class="form-check-input" data-action="input->disabled-with-check#handleInput">
        </div>
        <div class="actions" data-disabled-with-check-target="wrapper" data-balloon-pos="up-left" aria-label="Please accept the terms and conditions before submitting">
          <%= f.button :button, class: "btn btn-primary", disabled: true, data: { 'disabled-with-check-target': 'button' } do %>
            Submit
          <% end %>
        </div>
      <% end %>
      <div class="links">
        <%= render "devise/shared/links" %>
        <%= render "devise/shared/redirection" %>
      </div>
    </div>
  </div>
</div>
