<%= simple_form_for [:suppliers, @supplier_location], class: "location-form" do |f| %>
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="location-tab" data-bs-toggle="tab" data-bs-target="#location" type="button" role="tab" aria-controls="location" aria-selected="true">
        Location
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="features-tab" data-bs-toggle="tab" data-bs-target="#features" type="button" role="tab" aria-controls="features" aria-selected="false">
        Features
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="supply-tab" data-bs-toggle="tab" data-bs-target="#supply" type="button" role="tab" aria-controls="supply" aria-selected="false">
        Supply
      </button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <!-- LOCATION TAB DATA !-->
    <div class="tab-pane show active pb-4" id="location" role="tabpanel" aria-labelledby="location-tab">
      <div class="geo-input my-4" data-geocoder-target="input"></div>

      <div class="field">
        <%= f.input :longitude, class: "form-control", placeholder: "-5.930086", input_html: { data: { "geocoder-target": 'longitude' } }, label_html: { class: "form-label" } %>
      </div>
      <div class="field">
        <%= f.input :latitude, class: "form-control", placeholder: "54.596433", input_html: { data: { "geocoder-target": 'latitude' } }, label_html: { class: "form-label" } %>
      </div>
      <div class="field">
        <%= f.input :postal_code, class: "form-control", placeholder: " H3W9+JX", input_html: { data: { "geocoder-target": 'postalCode' } }, label_html: { class: "form-label" } %>
      </div>
      <div class="field">
        <%= f.input :house_nr, class: "form-control", placeholder: "11", input_html: { data: { "geocoder-target": 'house' } }, label_html: { class: "form-label" } %>
      </div>
      <div class="field">
        <%= f.input :name, class: "form-control", placeholder: "Optional identifier", label_html: { class: "form-label" } %>
      </div>
      <div class="buttons py-4" data-controller="tabs">
        <button id="next" data-target="#features-tab" data-action="click->tabs#handleClick" class="btn btn-primary">
          Next &rarr;
        </button>
      </div>
    </div>

    <div class="tab-pane pb-4" id="features" role="tabpanel" aria-labelledby="features-tab">
      <!-- FEATURES TAB DATA !-->

      <div class="field-group">
        <h4>
          General
        </h4>
        <div class="field">
          <%= f.input :verified, class: "form-control", label: "This location has been verified for display on H2near.me", label_html: { class: "form-label" }, disabled: true %>
        </div>

        <div class="field">
          <%= f.input :available, collection: [['Yes', true], ['No', false]], prompt: "Please select an option", class: "form-control", label: "Is this location currently available?", label_html: { class: "form-label" } %>
        </div>
      </div>

      <div class="field-group">
        <h4>
          Location
        </h4>
        <div class="field">
          <%= f.input :supply_type, collection: ['hydrogen', 'oxygen', 'both'], prompt: "Please select an option", class: "form-control", label: "Does this location deliver hydrogen, oxygen or both?", label_html: { class: "form-label" } %>
        </div>

        <div class="field">
          <%= f.input :pickup_available, collection: [['Yes', true], ['No', false]], prompt: "Please select an option", class: "form-control", label: "Is pickup with own transport available at this location?", label_html: { class: "form-label" } %>
        </div>

        <div class="field">
          <%= f.input :has_drftc, collection: [['Yes', true], ['No', false]], prompt: "Please select an option", class: "form-control", label: "Does this location offer DRFTC?", label_html: { class: "form-label" } %>
        </div>

        <div class="field">
          <%= f.input :purification_onsite, collection: [['Yes', true], ['No', false]], prompt: "Please select an option", class: "form-control", label: "Does this location offer purification on-site?", label_html: { class: "form-label" } %>
        </div>
      </div>

      <div class="field-group">
        <h4>
          Cost
        </h4>
        <div class="field">
          <%= f.input :transport_costs, class: "form-control", placeholder: "Per km", label: "What are the transport costs at this location?", label_html: { class: "form-label" } %>
        </div>

        <div class="field">
          <%= f.input :compression_costs, class: "form-control", placeholder: "Per kg", label: "What are the compression costs at this location?", label_html: { class: "form-label" } %>
        </div>
      </div>


      <div class="buttons py-4" data-controller="tabs">
        <button id="previous" data-target="#location-tab" data-action="click->tabs#handleClick" class="btn btn-secondary">
          &larr; Previous
        </button>
        <button id="next" data-target="#supply-tab" data-action="click->tabs#handleClick" class="btn btn-primary">
          Next &rarr; 
        </button>
      </div>
    </div>


    <div class="tab-pane pb-4" id="supply" role="tabpanel" aria-labelledby="supply-tab">
      <!-- SUPPLY TAB DATA !-->

      <div class="field-group">
        <h4>
          Hydrogen
        </h4>
        <div class="field">
          <%= f.input :min_hydrogen_vol, class: "form-control", placeholder: "In kg", label: "What is the minimum hydrogen volume required for offtakers?", label_html: { class: "form-label" } %>
        </div>

        <div class="field">
          <%= f.input :max_hydrogen_vol, class: "form-control", placeholder: "In kg", label: "What is the maximum hydrogen volume required for offtakers?", label_html: { class: "form-label" } %>
        </div>

        <div class="field">
          <%= f.input :pressure_type_hydrogen, collection: [300, 700, 'both'], prompt: "Please select an option", class: "form-control", label: "What is the pressure type hydrogen is offered in?", label_html: { class: "form-label" } %>
        </div>

        <div class="field">
          <%= f.input :hydrogen_purity, collection: ['pure', 'high pure', 'ultrapure'], prompt: "Please select an option", class: "form-control", label: "What is the purity of hydrogen offered?", label_html: { class: "form-label" } %>
        </div>
      </div>

      <div class="field-group">
        <h4>
          Oxygen
        </h4>
        <div class="field">
          <%= f.input :min_oxygen_vol, class: "form-control", placeholder: "In kg", label: "What is the minimum oxygen volume required for offtakers?", label_html: { class: "form-label" } %>
        </div>

        <div class="field">
          <%= f.input :max_oxygen_vol, class: "form-control", placeholder: "In kg", label: "What is the maximum oxygen volume required for offtakers?", label_html: { class: "form-label" } %>
        </div>

        <div class="field">
          <%= f.input :pressure_type_oxygen, collection: [300, 700, 'both'], prompt: "Please select an option", class: "form-control", label: "What is the pressure type oxygen is offered in?", label_html: { class: "form-label" } %>
        </div>

        <div class="field">
          <%= f.input :oxygen_purity, collection: ['pure', 'high pure', 'ultrapure'], prompt: "Please select an option", class: "form-control", label: "What is the purity of oxygen offered?", label_html: { class: "form-label" } %>
        </div>
      </div>


      <div class="buttons py-4" data-controller="tabs">
        <button id="previous" data-target="#features-tab" data-action="click->tabs#handleClick" class="btn btn-secondary">
          &larr; Previous
        </button>
        <%= f.button :button, class: "btn btn-primary" do %>
          Save <i class="fa-solid fa-floppy-disk"></i>
        <% end %>
      </div>
    </div>



  </div>
  
<% end %>
