<%= simple_form_for [:suppliers, @supplier_location], class: "location-form", data: { turbo: false } do |f| %>
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="location-tab" data-bs-toggle="tab" data-bs-target="#location" type="button" role="tab" aria-controls="location" aria-selected="true">
        Location
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="features-tab" data-bs-toggle="tab" data-bs-target="#features" type="button" role="tab" aria-controls="features" aria-selected="false">
        Features
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="supply-tab" data-bs-toggle="tab" data-bs-target="#supply" type="button" role="tab" aria-controls="supply" aria-selected="false">
        Supply
      </button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <!-- LOCATION TAB DATA !-->
    <div class="tab-pane show active pb-4" id="location" role="tabpanel" aria-labelledby="location-tab">
      <div class="geo-input my-4" data-geocoder-target="input"></div>

      <div class="field">
        <%= f.input :longitude, class: "form-control", placeholder: "-5.930086", input_html: { data: { "geocoder-target": 'longitude' } }, label_html: { class: "form-label" } %>
      </div>
      <div class="field">
        <%= f.input :latitude, class: "form-control", placeholder: "54.596433", input_html: { data: { "geocoder-target": 'latitude' } }, label_html: { class: "form-label" } %>
      </div>
      <div class="field">
        <%= f.input :postal_code, class: "form-control", placeholder: " H3W9+JX", input_html: { data: { "geocoder-target": 'postalCode' } }, label_html: { class: "form-label" } %>
      </div>
      <div class="field">
        <%= f.input :house_nr, class: "form-control", placeholder: "11", input_html: { data: { "geocoder-target": 'house' } }, label_html: { class: "form-label" } %>
      </div>
      <div class="field">
        <%= f.input :name, class: "form-control", placeholder: "Name your location", label_html: { class: "form-label" } %>
      </div>
      <div class="buttons py-4" data-controller="tabs">
        <button id="next" data-target="#features-tab" data-action="click->tabs#handleClick" class="btn btn-primary">
          Next &rarr;
        </button>
      </div>
    </div>

    <div class="tab-pane pb-4" id="features" role="tabpanel" aria-labelledby="features-tab">
      <!-- FEATURES TAB DATA !-->

      <div class="field-group">
        <h4>
          General
        </h4>
        <div class="field">
          <%= f.input :verified, class: "form-control", label: "This location has been verified for display on H2near.me", label_html: { class: "form-label" }, disabled: true %>
        </div>

        <div class="field">
          <%= f.input :available, collection: [['Yes', true], ['No', false]], prompt: "Please select an option", class: "form-control", label: "Is this location currently available?", label_html: { class: "form-label" } %>
        </div>
      </div>

      <div class="field-group">
        <h4>
          Location
        </h4>

        <div class="field">
          <%= f.input :pickup_available, collection: [['Yes', true], ['No', false]], prompt: "Please select an option", class: "form-control", label: "Is pickup with own transport available at this location?", label_html: { class: "form-label" } %>
        </div>

        <div class="field">
          <%= f.input :has_drtfc, collection: [['Yes', true], ['No', false]], prompt: "Please select an option", class: "form-control", label: "Does this location offer DRTFC?", label_html: { class: "form-label" } %>
        </div>

        <div class="field">
          <%= f.input :purification_onsite, collection: [['Yes', true], ['No', false]], prompt: "Please select an option", class: "form-control", label: "Does this location offer purification on-site?", label_html: { class: "form-label" } %>
        </div>
      </div>



      <div class="buttons py-4" data-controller="tabs">
        <button id="previous" data-target="#location-tab" data-action="click->tabs#handleClick" class="btn btn-secondary">
          &larr; Previous
        </button>
        <button id="next" data-target="#supply-tab" data-action="click->tabs#handleClick" class="btn btn-primary">
          Next &rarr; 
        </button>
      </div>
    </div>


    <div class="tab-pane pb-4" id="supply" role="tabpanel" aria-labelledby="supply-tab">
      <!-- SUPPLY TAB DATA !-->

      <div class="accordion my-3" id="supply-types-accordion">
        <%= f.simple_fields_for :supply_types do |p| %>
          <div class="accordion-item">
            <h2 class="accordion-header" id="<%= p.object.object_id %>">
              <button class="accordion-button <%= 'collapsed' unless p.options[:child_index].zero? %>" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-<%= p.object.object_id %>" aria-expanded="true" aria-controls="collapse-<%= p.object.object_id %>">
                <% if p.object.name %>
                  <%= p.object.name %>
                <% else %>
                  <div class="text-primary">
                    <i class="fa-solid fa-plus"></i> 
                    <span class="ms-2 d-inline-block text-primary">
                      Add new supply type
                    </span>
                  </div>
                <% end %>
              </button>
            </h2>
            <div id="collapse-<%= p.object.object_id %>" class="accordion-collapse collapse <%= 'show' if p.options[:child_index].zero? %>" aria-labelledby="<%= p.object.object_id %>" data-bs-parent="#supply-types-accordion">
              <div class="accordion-body light-wrapper pb-5">
                <%= f.input :id, as: :hidden %>
                <div class="field">
                  <%= p.input :name, collection: [
                    'Standard', 
                    'ITMs', 
                    'Pure', 
                    'High pure', 
                    'Ultrapure'
                    ], prompt: "Select required purity", class: "form-control", placeholder: "E.g. high pure", label: "What is the name for this purity of hydrogen?", label_html: { class: "form-label" } %>
                </div>

                <div class="field">
                  <%= p.input :minimum_hydrogen_volume, class: "form-control", placeholder: "In kg", label: "What is the minimum hydrogen volume required for offtakers?", label_html: { class: "form-label" } %>
                </div>

                <div class="field">
                  <%= p.input :maximum_hydrogen_volume, class: "form-control", placeholder: "In kg", label: "What is the maximum hydrogen volume required for offtakers?", label_html: { class: "form-label" } %>
                </div>

                <div class="field">
                  <%= p.input :pressure_type_hydrogen, collection: [350, 700, 'both'], prompt: "Please select an option", class: "form-control", label: "What is the pressure type hydrogen is offered in?", label_html: { class: "form-label" } %>
                </div>

                <div class="field">
                  <%= p.input :compression_costs, class: "form-control", placeholder: "Per kg", label: "What are the compression costs at this location?", label_html: { class: "form-label" } %>
                </div>

                <div class="field">
                  <%= p.input :transport_costs, class: "form-control", placeholder: "Per km", label: "What are the transport costs at this location?", label_html: { class: "form-label" } %>
                </div>

                <div class="field">
                  <%= p.input :purity_proof, as: :file, input_html: { class: "form-control" }, label: "Please upload a proof of purity", label_html: { class: "form-label" } %>
                </div>

                <div class="field">
                  <%= p.input :supply_proof, as: :file, input_html: { class: "form-control" }, label: "Please upload a proof of supply", label_html: { class: "form-label" } %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>



      <div class="buttons py-4" data-controller="tabs">
        <button id="previous" data-target="#features-tab" data-action="click->tabs#handleClick" class="btn btn-secondary">
          &larr; Previous
        </button>
        <%= f.button :button, class: "btn btn-primary" do %>
          Save <i class="fa-solid fa-floppy-disk"></i>
        <% end %>
      </div>
    </div>



  </div>
  
<% end %>
