  <div class="data">
    <div class="data-label">
      Name 
    </div>
    <div class="data-value">
      <%= supply_type.name %> 
      <span data-balloon-pos="up" aria-label="<%= supply_type.present.description %>">
        <i class="fa-solid fa-circle-question"></i>
      </span>
    </div>
    <div class="data-label">
      Minimum hydrogen volume
    </div>
    <div class="data-value">
      <%= supply_type.minimum_hydrogen_volume %> kg 
      <span class="text-secondary data-unit">/ day</span>
    </div>
    <div class="data-label">
      Maximum hydrogen volume
    </div>
    <div class="data-value">
      <%= supply_type.maximum_hydrogen_volume %> kg 
      <span class="text-secondary data-unit">/ day</span>
    </div>
    <div class="data-label">
      Pressure type hydrogen
    </div>
    <div class="data-value">
      <%= supply_type.pressure_type_hydrogen %> bar
    </div>
    <div class="data-label">
      Compression costs
    </div>
    <div class="data-value">
      <%= supply_type.present.compression_costs %> 
      <span class="text-secondary data-unit">/ kg</span>
    </div>
    <div class="data-label">
      Transport costs
    </div>
    <div class="data-value">
      <%= supply_type.present.transport_costs %>
      <span class="text-secondary data-unit">/ km</span>
    </div>
    <div class="data-label">
      Proof of purity
    </div>
    <div class="data-value">
      <% if supply_type.purity_proof.attached? %>
        <%= link_to "Open file", cloudinary_url(supply_type.purity_proof.key), target: "_blank" %>
      <% else %>
        Not provided
      <% end %>
    </div>
    <div class="data-label">
      Proof of supply
    </div>
    <div class="data-value">
      <% if supply_type.supply_proof.attached? %>
        <%= link_to "Open file", cloudinary_url(supply_type.supply_proof.key), target: "_blank" %>
      <% else %>
        Not provided
      <% end %>
    </div>
  </div>