<% content_for :title, "Location details for '#{@supplier_location.name}'" %>

<div class="container" data-controller="maps">
  <div class="row">
    <div class="col-12">
      <div>
        <div id="routing-results"></div>

        <div id="map" class="full-width" data-maps-target="map" data-routing="true" data-key="<%= ENV['MAPBOX_API_KEY'] %>" data-center="<%= [@supplier_location.longitude, @supplier_location.latitude].to_json %>" data-zoom="9" data-origin-location-id="<%= @supplier_location.id %>" data-locations="<%= @offtaker_locations.map {|offtaker_location| [offtaker_location.longitude, offtaker_location.latitude, (offtaker_location.name || offtaker_location.address), offtaker_location.id] }.to_json %>"></div>
        <div class="map-padding"></div>

      </div>
    </div>
    <div class="col-12">
      <%= link_to suppliers_path, class: "back-button" do %>
        &larr; Back to dashboard
      <% end %>
      <h1>
        Location details for <%= @supplier_location.name %>
      </h1>
      <div class="buttons my-3">
        <%= link_to edit_suppliers_supplier_location_path(@supplier_location), class: "btn btn-warning" do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>      
        <%= link_to suppliers_supplier_location_path(@supplier_location), method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure you want to delete this location?" }, class: "btn btn-danger"  do %>
        <i class="fa-solid fa-trash-can"></i>
      <% end %>
      </div>

      <ul class="nav nav-pills" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="details-tab" data-bs-toggle="tab" data-bs-target="#details" type="button" role="tab" aria-controls="details" aria-selected="true">
            Details
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="locations-tab" data-bs-toggle="tab" data-bs-target="#locations" type="button" role="tab" aria-controls="locations" aria-selected="false">
            Locations
          </button>
        </li>
      </ul>

      <div class="tab-content pb-4" id="myTabContent">
        <div class="tab-pane show active pb-4" id="details" role="tabpanel" aria-labelledby="details-tab">
          <div class="data-two-columns">
            <div class="data">
              <div class="data-label">
                name
              </div>
              <div class="data-value">
                <%= @supplier_location.name %>
              </div>
              <div class="data-label">
                longitude
              </div>
              <div class="data-value">
                <%= @supplier_location.longitude %>
              </div>
              <div class="data-label">
                latitude
              </div>
              <div class="data-value">
                <%= @supplier_location.latitude %>
              </div>
              <div class="data-label">
                postal_code
              </div>
              <div class="data-value">
                <%= @supplier_location.postal_code %>
              </div>
              <div class="data-label">
                house_nr
              </div>
              <div class="data-value">
                <%= @supplier_location.house_nr %>
              </div>
              <div class="data-label">
                supply_type
              </div>
              <div class="data-value">
                <%= @supplier_location.supply_type %>
              </div>
              <div class="data-label">
                min_hydrogen_vol
              </div>
              <div class="data-value">
                <%= @supplier_location.min_hydrogen_vol %>
              </div>
              <div class="data-label">
                max_hydrogen_vol
              </div>
              <div class="data-value">
                <%= @supplier_location.max_hydrogen_vol %>
              </div>
              <div class="data-label">
                min_oxygen_vol
              </div>
              <div class="data-value">
                <%= @supplier_location.min_oxygen_vol %>
              </div>
              <div class="data-label">
                max_oxygen_vol
              </div>
              <div class="data-value">
                <%= @supplier_location.max_oxygen_vol %>
              </div>
              <div class="data-label">
                pickup_available
              </div>
              <div class="data-value">
                <%= @supplier_location.pickup_available %>
              </div>
            </div>
            <div class="data">
              <div class="data-label">
                pressure_type_hydrogen
              </div>
              <div class="data-value">
                <%= @supplier_location.pressure_type_hydrogen %>
              </div>
              <div class="data-label">
                pressure_type_oxygen
              </div>
              <div class="data-value">
                <%= @supplier_location.pressure_type_oxygen %>
              </div>
              <div class="data-label">
                verified
              </div>
              <div class="data-value">
                <%= @supplier_location.verified %>
              </div>
              <div class="data-label">
                available
              </div>
              <div class="data-value">
                <%= @supplier_location.available %>
              </div>
              <div class="data-label">
                transport_costs
              </div>
              <div class="data-value">
                <%= @supplier_location.transport_costs %>
              </div>
              <div class="data-label">
                compression_costs
              </div>
              <div class="data-value">
                <%= @supplier_location.compression_costs %>
              </div>
              <div class="data-label">
                has_drftc
              </div>
              <div class="data-value">
                <%= @supplier_location.has_drtfc %>
              </div>
              <div class="data-label">
                hydrogen_purity
              </div>
              <div class="data-value">
                <%= @supplier_location.hydrogen_purity %>
              </div>
              <div class="data-label">
                oxygen_purity
              </div>
              <div class="data-value">
                <%= @supplier_location.oxygen_purity %>
              </div>
              <div class="data-label">
                purification_onsite
              </div>
              <div class="data-value">
                <%= @supplier_location.purification_onsite %>
              </div>
              <div class="data-label">
                prefixed_id
              </div>
              <div class="data-value">
                <%= @supplier_location.prefixed_id %>
              </div>
            </div>
          </div>

        </div>

        <div class="tab-pane pb-4" id="locations" role="tabpanel" aria-labelledby="locations-tab">
          <ul class="list-unstyled" id="scenarios">
            <%= render partial: "scenarios/scenario", collection: @supplier_location.scenarios %>
          </ul>
        </div>
        <button class="btn btn-primary" data-location="<%= [@offtaker_locations.first.longitude, @offtaker_locations.first.latitude].to_json %>" data-action="click->maps#drawRoute">
          Find nearest location <i class="fa-solid fa-location-crosshairs"></i>
        </button>
      </div>
    </div>
  </div>
</div>