<% content_for :title, "Location details for #{@supplier_location.name}" %>

<div class="container" data-controller="maps">
  <div class="row">
    <div class="col-12">
      <div>
        <div id="routing-results"></div>

        <div id="map" class="full-width" data-maps-target="map" data-routing="true" data-key="<%= ENV['MAPBOX_API_KEY'] %>" data-center="<%= [@supplier_location.longitude, @supplier_location.latitude].to_json %>" data-zoom="9" data-origin-location-id="<%= @supplier_location.id %>" data-locations="<%= @offtaker_locations.map {|offtaker_location| [offtaker_location.longitude, offtaker_location.latitude, (offtaker_location.name || offtaker_location.address), offtaker_location.id] }.to_json %>"></div>
        <div class="map-padding"></div>

      </div>
    </div>
    <div class="col-12 position-relative">
      <%= link_to (supplier_signed_in? ? suppliers_path : admin_path), class: "back-button" do %>
        &larr; Back to dashboard
      <% end %>
      <div class="under-map-button">
        <% if @offtaker_locations.any? && supplier_signed_in? %>
          <button class="btn btn-primary" data-location="<%= [@offtaker_locations.first.longitude, @offtaker_locations.first.latitude, (@offtaker_locations.first.name || @offtaker_locations.first.address), @offtaker_locations.first.id].to_json %>" data-action="click->maps#drawRoute">
            <span class="text-light">
              Find nearest location 
            </span>
            <i class="fa-solid fa-location-crosshairs"></i>
          </button>
        <% elsif admin_signed_in? %>
          <button data-controller="mark-verified" data-action="click->mark-verified#handleClick"
          data-url="<%= admin_verify_url(@supplier_location) %>"
          aria-label="<%= @supplier_location.verified ? 'This location is verified' : 'This location is not verified' %>"
          data-balloon-pos="left"
          class="btn <%=  @supplier_location.verified ? 'btn-success active' : 'btn-warning' %>">
            <i class="fa-solid fa-check"></i> 
          </button>
        <% end %>
      </div>
      <h1 class="mt-4">
        Location details for <%= @supplier_location.name %>
      </h1>
      <% if supplier_signed_in? %>
        <div class="buttons my-3">
          <%= link_to edit_suppliers_supplier_location_path(@supplier_location), class: "btn btn-warning" do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>      
          <%= link_to suppliers_supplier_location_path(@supplier_location), method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure you want to delete this location?" }, class: "btn btn-danger"  do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>
        </div>
      <% end %>

      <ul class="nav nav-pills" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="details-tab" data-bs-toggle="tab" data-bs-target="#details" type="button" role="tab" aria-controls="details" aria-selected="true">
            Details
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="locations-tab" data-bs-toggle="tab" data-bs-target="#locations" type="button" role="tab" aria-controls="locations" aria-selected="false">
            Locations
          </button>
        </li>
      </ul>

      <div class="tab-content pb-4" id="myTabContent">
        <div class="tab-pane show active pb-4" id="details" role="tabpanel" aria-labelledby="details-tab">
          <div class="data-two-columns">
            <div class="data-wrapper">
              <h2 class="mb-3">
                Location details
              </h2>
              <%= render partial: "suppliers/supplier_locations/supplier_location_details", locals: { supplier_location: @supplier_location } %>
            </div>
            <div class="accordion mb-3" id="supply-types-accordion">
              <h2 class="mb-3">
                Supply details by purity
              </h2>
              <% @supplier_location.supply_types.each_with_index do |supply_type, index| %>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="<%= supply_type.id %>">
                    <button class="accordion-button <%= 'collapsed' unless index.zero? %>" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-<%= supply_type.id %>" aria-expanded="true" aria-controls="collapse-<%= supply_type.id %>">
                      <%= supply_type.name %>
                    </button>
                  </h2>
                  <div id="collapse-<%= supply_type.id %>" class="accordion-collapse collapse <%= 'show' if index.zero? %>" aria-labelledby="<%= supply_type.id %>" data-bs-parent="#supply-types-accordion">
                    <div class="accordion-body light-wrapper pb-5">
                      <%= render partial: "suppliers/supplier_locations/supply_type_details", locals: { supply_type: supply_type } %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="tab-pane pb-4" id="locations" role="tabpanel" aria-labelledby="locations-tab">
          <ul class="list-unstyled" id="scenarios">
            <% if @supplier_location.scenarios.any? %>
              <%= render partial: "scenarios/scenario", collection: @supplier_location.scenarios %>
            <% else %>
              Nothing here yet
              <% if @offtaker_locations.any? && supplier_signed_in? %>
              , <a href="#" data-location="<%= [@offtaker_locations.first.longitude, @offtaker_locations.first.latitude, (@offtaker_locations.first.name || @offtaker_locations.first.address), @offtaker_locations.first.id].to_json %>" data-action="click->maps#drawRoute">Plot a route</a>
              <% else %>
                <div class="alert alert-info mt-3" role="alert">
                  Unfortunately there are no supplier locations available for your requirements.
                </div>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>