<%= simple_form_for [:offtakers, @offtaker_location], class: "location-form", data: { turbo: false, controller: "result-preview", url: suppliers_filter_path } do |f| %>
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="location-tab" data-bs-toggle="tab" data-bs-target="#location" type="button" role="tab" aria-controls="location" aria-selected="true">
        Location
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="requirements-tab" data-bs-toggle="tab" data-bs-target="#requirements" type="button" role="tab" aria-controls="requirements" aria-selected="false">
        Requirements
      </button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <!-- LOCATION TAB DATA !-->
    <div class="tab-pane show active pb-4" id="location" role="tabpanel" aria-labelledby="location-tab">
      <div class="geo-input my-4" data-geocoder-target="input"></div>

      <div class="field">
        <%= f.input :longitude, class: "form-control", placeholder: "Location longitude", input_html: { class: "disabled", data: { "geocoder-target": 'longitude', 'result-preview-target': 'longitude' } }, label_html: { class: "form-label" } %>
      </div>
      <div class="field">
        <%= f.input :latitude, class: "form-control", placeholder: "Location latitude", input_html: { class: "disabled", data: { "geocoder-target": 'latitude', 'result-preview-target': 'latitude' } }, label_html: { class: "form-label" } %>
      </div>
      <div class="field">
        <%= f.input :postal_code, class: "form-control", placeholder: "Location postal code", input_html: { class: "disabled", data: { "geocoder-target": 'postalCode' } }, label_html: { class: "form-label" } %>
      </div>
      <div class="field">
        <%= f.input :house_nr, class: "form-control", placeholder: "Location house number", input_html: { class: "disabled", data: { "geocoder-target": 'house' } }, label_html: { class: "form-label" } %>
      </div>
      <div class="field">
        <%= f.input :name, class: "form-control", placeholder: "Name your location", label_html: { class: "form-label" } %>
      </div>
      <div class="buttons py-4" data-controller="tabs">
        <button id="next" data-target="#requirements-tab" data-action="click->tabs#handleClick" class="btn btn-primary">
          Next &rarr;
        </button>
      </div>
    </div>

    <div class="tab-pane pb-4" id="requirements" role="tabpanel" aria-labelledby="requirements-tab">
      <!-- REQUIREMENTS TAB DATA !-->
      <div class="field-group">
        <h4>
          Hydrogen
        </h4>
        <div class="field">
          <%= f.input :required_hydrogen_volume, class: "form-control", placeholder: "E.g. 600", input_html: { data: { 'result-preview-target': 'volume' } }, label: "Required volume of hydrogen in kilograms per day", label_html: { class: "form-label" } %>
        </div>

        <div class="field">
          <%= f.input :required_hydrogen_pressure, collection: [350.0, 700.0], prompt: "Select pressure type", class: "form-control", input_html: { data: { 'result-preview-target': 'pressure' } }, placeholder: "E.g. 300", label: "Required hydrogen pressure in bar", label_html: { class: "form-label" } %>
        </div>
        <div class="field" data-controller="elaborate">
          <%= f.input :required_hydrogen_purity, collection: ['Standard', 'ITMs', 'Pure', 'High pure', 'Ultrapure'
          ], prompt: "Select required purity", class: "form-control", label: "Required hydrogen purity", label_html: { class: "form-label" }, input_html: { 'data-action': 'input->elaborate#handleInput', 'data-result-preview-target': 'purity' } %>
          <div class="alert alert-info d-none" data-elaborate-target="display" role="alert">
            
          </div>
        </div>
        <h5 class="mt-4">
          For pipeline options
        </h5>
        <div class="field">
          <label for="<%= "investment-period-#{f.object.object_id}" %>" class="form-label">
            Investment period in years
            <a data-bs-toggle="collapse" href="#collapse-investment-period-<%= f.object.object_id %>" role="button" aria-expanded="false" aria-controls="collapse-investment-period-<%= f.object.object_id %>">
              <i class="fa-solid fa-circle-question"></i>
            </a>
          </label>
          <%= f.input :investment_period_years, class: "form-control", label: false, input_html: { id: "investment-period-#{f.object.object_id}" } %>
          <div class="collapse mt-2" id="collapse-investment-period-<%= f.object.object_id %>">
            <div class="card card-body">
              The total upfront capital expenditure for the installation of a dedicated pipeline will be expressed in years hence we are looking for an investment period or asset lifetime to deduct the total capital expenditure by. If unsure, use the average lifetime of 25 years of a dedicated pipeline.
            </div>
          </div>
        </div>
        <div class="field">
          <label for="<%= "contract-period-#{f.object.object_id}" %>" class="form-label">
            Contract period in years
            <a data-bs-toggle="collapse" href="#collapse-contract-period-<%= f.object.object_id %>" role="button" aria-expanded="false" aria-controls="collapse-contract-period-<%= f.object.object_id %>">
              <i class="fa-solid fa-circle-question"></i>
            </a>
          </label>
          <%= f.input :contract_period_years, class: "form-control", label: false, input_html: { id: "contract-period-#{f.object.object_id}" } %>
          <div class="collapse mt-2" id="collapse-contract-period-<%= f.object.object_id %>">
            <div class="card card-body">
              The total operational expenditure for the installation of a dedicated pipeline will be expressed in years hence we are looking for an expected contract period to deduct the total operational expenditure by. If unsure, use an average contract period of 10 years.
            </div>
          </div>
        </div>
        <div class="field">
          <%= f.input :own_transport, label: "Check this box if you wish to provide your own transport" %>
        </div>
      </div>
      
      <div class="field-group">
        <h4>
          Oxygen
        </h4>
        <div class="field">
          <%= f.input :interest_oxygen, class: "form-control", label: "Interested in offtaking oxygen", label_html: { class: "form-label" } %>
        </div>

        <div class="field">
          <%= f.input :required_oxygen_volume, class: "form-control", placeholder: "E.g. 600", label: "Required oxygen volume in kilos per day", label_html: { class: "form-label" } %>
        </div>
      
      </div>


      <div class="buttons py-4" data-controller="tabs">
        <button id="next" data-target="#location-tab" data-action="click->tabs#handleClick" class="btn btn-secondary">
          &larr; Previous
        </button>
        <%= f.button :button, class: "btn btn-primary" do %>
          Save <i class="fa-solid fa-floppy-disk"></i>
        <% end %>
      </div>
    </div>

  </div>
  
<% end %>
