<%= simple_form_for [:offtakers, @offtaker_location], class: "location-form" do |f| %>
  <div class="geo-input my-4" data-geocoder-target="input"></div>

  <div class="field">
    <%= f.input :longitude, class: "form-control", placeholder: "-5.930086", input_html: { data: { "geocoder-target": 'longitude' } } %>
  </div>
  <div class="field">
    <%= f.input :latitude, class: "form-control", placeholder: "54.596433", input_html: { data: { "geocoder-target": 'latitude' } } %>
  </div>
  <div class="field">
    <%= f.input :postal_code, class: "form-control", placeholder: " H3W9+JX", input_html: { data: { "geocoder-target": 'postalCode' } } %>
  </div>
  <div class="field">
    <%= f.input :house_nr, class: "form-control", placeholder: "11", input_html: { data: { "geocoder-target": 'house' } } %>
  </div>
  <div class="field">
    <%= f.input :name, class: "form-control", placeholder: "Optional identifier" %>
  </div>
  <div class="field">
    <%= f.submit "Submit location", class: "btn btn-primary" %>
  </div>
<% end %>