<ul class="list-unstyled location-list">
  <% @offtaker_locations.each do |offtaker_location| %>
    <li class="location-list-item">
        <%= link_to offtakers_offtaker_location_path(offtaker_location), class: "location-list-data" do %>
          <h2>
            <%= offtaker_location.name %> <i class="fa-solid fa-arrow-right"></i>
          </h2>
          <p>
            <%= offtaker_location.address %>
          </p>
        <% end %>
        <div class="location-list-actions">
          <%= link_to offtakers_offtaker_location_path(offtaker_location), method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure you want to delete this location?" }, class: "btn btn-danger"  do %>
            <i class="fa-solid fa-trash-can"></i>
          <% end %>
          <%= link_to edit_offtakers_offtaker_location_path(offtaker_location), class: "btn btn-warning" do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
        </div>
    </li>
  <% end %>
</ul>
<%= will_paginate @offtaker_locations %>

<%= link_to new_offtakers_offtaker_location_path, class: "btn btn-primary" do %>
  Add new location <i class="fa-solid fa-plus"></i>
<% end %>