  <div class="data">
    <div class="data-label">
      Name: 
    </div>
    <div class="data-value">
      <%= offtaker_location.name %>
    </div>
    <div class="data-label">
      Longitude: 
    </div>
    <div class="data-value">
      <%= offtaker_location.longitude %>
    </div>
    <div class="data-label">
      Latitude: 
    </div>
    <div class="data-value">
      <%= offtaker_location.latitude %>
    </div>
    <div class="data-label">
      Postal code: 
    </div>
    <div class="data-value">
      <%= offtaker_location.postal_code %>
    </div>
    <div class="data-label">
      House number: 
    </div>
    <div class="data-value">
      <%= offtaker_location.house_nr %>
    </div>
    <div class="data-label">
      Arranges own transport: 
    </div>
    <div class="data-value">
      <%= offtaker_location.own_transport %>
    </div>
    <div class="data-label">
      Required hydrogen volume: 
    </div>
    <div class="data-value">
      <%= offtaker_location.required_hydrogen_volume %> kg /day
    </div>
    <div class="data-label">
      Required hydrogen pressure: 
    </div>
    <div class="data-value">
      <%= offtaker_location.required_hydrogen_pressure %> bar
    </div>
    <div class="data-label">
      Required hydrogen purity: 
    </div>
    <div class="data-value">
      <%= offtaker_location.required_hydrogen_purity %> 
      <a data-bs-toggle="collapse" href="#collapse-hydrogen-purity" role="button" aria-expanded="false" aria-controls="collapse-hydrogen-purity">
        <i class="fa-solid fa-circle-question"></i>
      </a>
    </div>
    <div class="collapse mt-2 data-row" id="collapse-hydrogen-purity">
      <div class="card card-body">
        <%= purity_elaboration[offtaker_location.required_hydrogen_purity.to_sym].html_safe %>
      </div>
    </div>
    <div class="data-label">
      Investment period in years:
    </div>
    <div class="data-value">
      <%= offtaker_location.investment_period_years %>
      <a data-bs-toggle="collapse" href="#collapse-investment-period" role="button" aria-expanded="false" aria-controls="collapse-investment-period">
        <i class="fa-solid fa-circle-question"></i>
      </a>
    </div>
    <div class="collapse mt-2 data-row" id="collapse-investment-period">
      <div class="card card-body">
        The total upfront capital expenditure for the installation of a dedicated pipeline will be expressed in years hence we are looking for an investment period or asset lifetime to deduct the total capital expenditure by. If unsure, use the average lifetime of 25 years of a dedicated pipeline.
      </div>
    </div>
    <div class="data-label">
      Contract period in years:
    </div>
    <div class="data-value">
      <%= offtaker_location.contract_period_years %>
      <a data-bs-toggle="collapse" href="#collapse-contract-period" role="button" aria-expanded="false" aria-controls="collapse-contract-period">
        <i class="fa-solid fa-circle-question"></i>
      </a>
    </div>
    <div class="collapse mt-2 data-row" id="collapse-contract-period">
      <div class="card card-body">
        The total operational expenditure for the installation of a dedicated pipeline will be expressed in years hence we are looking for an expected contract period to deduct the total operational expenditure by. If unsure, use an average contract period of 10 years.
      </div>
    </div>
    <div class="data-label">
      Required oxygen volume: 
    </div>
    <div class="data-value">
      <%= offtaker_location.required_oxygen_volume %>
    </div>
    <div class="data-label">
      Interest in offtaking oxygen:
    </div>
    <div class="data-value">
      <%= offtaker_location.interest_oxygen %>
    </div>
  </div>