<% content_for :title, "Dashboard for offtakers" %>

<div class="dashboard-wrapper">
  <div class="dashboard-container">
    <div class="sidebar">
      <ul class="list-unstyled">
        <li>
          <%= link_to "#locations" do %>
            <i class="fa-solid fa-location-dot"></i> Locations
          <% end %>
        </li>
        <li>
          <%= link_to "#scenarios" do %>
            <i class="fa-solid fa-route"></i> Scenarios
          <% end %>
        </li>
      </ul>
    </div>
    <div class="dashboard">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="mt-3">
              Offtaker dashboard
            </h1>
            <section id="locations" class="py-2">
              <h2 class="mt-3">
                Your locations
              </h2>
              <div class="location-list-wrapper" data-controller="search">
                <div class="field">
                  <input 
                    type="text" 
                    data-search-target="input" 
                    data-action="input->search#handleInput" 
                    data-url="<%= offtakers_url %>"
                    class="form-control sized-input"
                    placeholder="Search"
                  >
                </div>
                <ul class="list-unstyled location-list" data-search-target="list">
                  <%= render partial: "locations", locals: { offtaker_locations: @offtaker_locations } %>
                </ul>
              </div>

              <%= link_to new_offtakers_offtaker_location_path, class: "btn btn-primary" do %>
                Add new location <i class="fa-solid fa-plus"></i>
              <% end %>
            </section>
            <section id="scenarios" class="py-2">
              <h2>
                Scenarios
              </h2>
              <ul class="list-unstyled">
                <% @scenarios.order('created_at DESC').each do |scenario| %>
                  <li id="<%= dom_id scenario %>">
                    <span>
                      <%= scenario.created_at.strftime('%e %b %Y %H:%M%p') %>
                    </span>
                    <div class="button-wrapper">
                      <button data-controller="mark-favourite" data-action="click->mark-favourite#handleClick"
                      data-url="<%= mark_favourite_url(scenario) %>"
                      class="rating <%= 'active' if scenario.favourite %>">
                        <i class="fa-solid fa-star"></i> 
                      </button>
                      <%= link_to scenario_path(scenario) do %>
                        <%= scenario.offtaker_location.name %> &rarr; <%= scenario.supplier_location.name %> - <%= scenario.distance %>km
                      <% end %>
                    </div>
                    <div class="actions">
                      <a href="mailto:<%= offtaker_signed_in? ? scenario.supplier_location.supplier.email : scenario.offtaker_location.offtaker.email %>?subject=Contact via H2near.me" target="_blank">
                        <%= offtaker_signed_in? ? scenario.supplier_location.supplier.email : scenario.offtaker_location.offtaker.email %>
                      </a>
                      <%= link_to scenario_path(scenario), method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure you want to delete this scenario?" }, class: "btn btn-danger btn-sm ms-3"  do %>
                        <i class="fa-solid fa-trash-can"></i>
                      <% end %>
                    </div>
                  </li>
                <% end %>
              </ul>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>