<% content_for :title, "Location details for #{@offtaker_location.name}" %>

<div class="container" data-controller="maps">
  <div class="row">
    <div class="col-12 col-md-6 pb-4 order-2 order-md-1">
      <%= link_to offtakers_path, class: "back-button" do %>
        &larr; Back to dashboard
      <% end %>
      <h1>
        Location details for <%= @offtaker_location.name %>
      </h1>
      <div class="buttons my-3">
        <%= link_to edit_offtakers_offtaker_location_path(@offtaker_location), class: "btn btn-warning" do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>      
        <%= link_to offtakers_offtaker_location_path(@offtaker_location), method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure you want to delete this location?" }, class: "btn btn-danger"  do %>
        <i class="fa-solid fa-trash-can"></i>
      <% end %>
      </div>

      <ul class="nav nav-pills" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="details-tab" data-bs-toggle="tab" data-bs-target="#details" type="button" role="tab" aria-controls="details" aria-selected="true">
            Details
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="locations-tab" data-bs-toggle="tab" data-bs-target="#locations" type="button" role="tab" aria-controls="locations" aria-selected="false">
            Locations
          </button>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane show active pb-4" id="details" role="tabpanel" aria-labelledby="details-tab">

          <div class="data">
            <div class="data-label">
              Name: 
            </div>
            <div class="data-value">
              <%= @offtaker_location.name %>
            </div>
            <div class="data-label">
              Longitude: 
            </div>
            <div class="data-value">
              <%= @offtaker_location.longitude %>
            </div>
            <div class="data-label">
              Latitude: 
            </div>
            <div class="data-value">
              <%= @offtaker_location.latitude %>
            </div>
            <div class="data-label">
              Postal code: 
            </div>
            <div class="data-value">
              <%= @offtaker_location.postal_code %>
            </div>
            <div class="data-label">
              House number: 
            </div>
            <div class="data-value">
              <%= @offtaker_location.house_nr %>
            </div>
            <div class="data-label">
              Arranges own transport: 
            </div>
            <div class="data-value">
              <%= @offtaker_location.own_transport %>
            </div>
            <div class="data-label">
              Required hydrogen volume: 
            </div>
            <div class="data-value">
              <%= @offtaker_location.required_hydrogen_volume %>
            </div>
            <div class="data-label">
              Required hydrogen pressure: 
            </div>
            <div class="data-value">
              <%= @offtaker_location.required_hydrogen_pressure %>
            </div>
            <div class="data-label">
              Required hydrogen purity: 
            </div>
            <div class="data-value">
              <%= @offtaker_location.required_hydrogen_purity %>
            </div>
            <div class="data-label">
              Investment period in years:
            </div>
            <div class="data-value">
              <%= @offtaker_location.investment_period_years %>
            </div>
            <div class="data-label">
              Contract period in years:
            </div>
            <div class="data-value">
              <%= @offtaker_location.contract_period_years %>
            </div>
            <div class="data-label">
              Required oxygen volume: 
            </div>
            <div class="data-value">
              <%= @offtaker_location.required_oxygen_volume %>
            </div>
            <div class="data-label">
              Interest in offtaking oxygen:
            </div>
            <div class="data-value">
              <%= @offtaker_location.interest_oxygen %>
            </div>
          </div>
        </div>

        <div class="tab-pane pb-4" id="locations" role="tabpanel" aria-labelledby="locations-tab">
          <ul class="list-unstyled" id="scenarios">
            <%= render partial: "scenarios/scenario", collection: @offtaker_location.scenarios %>
          </ul>
        </div>
        <% if @supplier_locations.any? %>
          <button class="btn btn-primary" data-location="<%= [@supplier_locations.first.longitude, @supplier_locations.first.latitude, (@supplier_locations.first.name || @supplier_locations.first.address), @supplier_locations.first.id].to_json %>" data-action="click->maps#drawRoute">
            Find nearest location <i class="fa-solid fa-location-crosshairs"></i>
          </button>
        <% else %>
          <div class="alert alert-info" role="alert">
            Unfortunately there are no supplier locations near this location.
          </div>
        <% end %>

      </div>

    </div>
    <div class="col-12 col-md-6 order-1 order-md-2">
      <div>
        <div id="routing-results"></div>

        <div id="map" data-maps-target="map" data-routing="true" data-key="<%= ENV['MAPBOX_API_KEY'] %>" data-center="<%= [@offtaker_location.longitude, @offtaker_location.latitude].to_json %>" data-zoom="9" data-origin-location-id="<%= @offtaker_location.id %>" data-locations="<%= @supplier_locations.map {|supplier_location| [supplier_location.longitude, supplier_location.latitude, (supplier_location.name || supplier_location.address), supplier_location.id] }.to_json %>"></div>
        <div class="map-padding"></div>
      </div>
    </div>
  </div>
</div>