
<% content_for :title, (request.path.include?('suppliers') ? "Forgot your supplier account password?" : "Forgot your offtaker account password?") %>

<div class="container">
  <div class="row">
    <div class="col-6">
      <h2>Forgot your <%= (request.path.include?('suppliers') ? "supplier?" : "offtaker") %> account password?</h2>

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'devise-form', data: { turbo: false } }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email, class: "form-label" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
        </div>
      <% end %>
      <div class="links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
