<% content_for :title, "Home" %>

<div class="banner-wrapper" data-controller="maps">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 order-2 order-md-1">
        <div class="banner">
          <div class="banner-content">
            <h1>
              Find out how close you are to hydrogen
            </h1>
            <p>
              Try out our calculator and find out:
            </p>
            <ul>
              <li>
                How far you are from suppliers
              </li>
              <li>
                The approximate cost of transport by road, dedicated pipeline or import
              </li>
              <li>
                Availability of volume in your region
              </li>
            </ul>
              
            <% if current_offtaker %>
              <%= link_to offtakers_path, class: 'btn btn-primary btn-inverted' do %>
                Go to your dashboard &rarr;
              <% end %>
            <% elsif current_supplier %>
              <%= link_to suppliers_path, class: 'btn btn-primary btn-inverted' do %>
                Go to your dashboard &rarr;
              <% end %>
            <% else %>
              <p>
                <%= link_to new_offtaker_registration_path, class: 'btn btn-primary btn-inverted' do %>
                  Enter your information &rarr;
                <% end %>
              </p>
              <%= link_to "Or sign up as a supplier", new_supplier_registration_path, class: "text-light" %>
            <% end %>

          </div>

        </div>
      </div>
      <div class="col-12 col-md-6 order-1 order-md-2">
        <div id="map" class="uninteractable" data-maps-target="map" data-key="<%= ENV['MAPBOX_API_KEY'] %>" data-center="<%= [-6.599110, 54.607009].to_json %>" data-zoom="8" data-locations="<%= @supplier_locations.map {|supplier_location| [supplier_location.longitude, supplier_location.latitude] }.to_json %>"></div>
        <div class="map-padding"></div>
      </div>
    </div>
  </div>
</div>
