<% content_for :title, "#{set_user_type.capitalize} log in" %>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <h2><%= set_user_type.capitalize %> log in</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'devise-form', data: { turbo: false } }) do |f| %>
        <div class="field">
          <%= f.label :email, class: "form-label" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :password, class: "form-label" %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field form-check">
            <%= f.check_box :remember_me, class: 'form-check-input' %>
            <%= f.label :remember_me, class: 'form-check-label' %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-primary" %>
        </div>
      <% end %>
      <div class="links">
        <%= render "devise/shared/links" %>
        <%= render "devise/shared/redirection" %>
      </div>
    </div>
  </div>
</div>

