<% content_for :title, "Scenario details for #{@scenario.offtaker_location.name} to #{@scenario.supplier_location.name}" %>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 pb-4 order-2 order-md-1">
      <%= link_to (offtaker_signed_in? ? offtakers_path : suppliers_path), class: "back-button" do %>
        &larr; Back to dashboard
      <% end %>
      <h1>
        Scenario details for '<%= offtaker_signed_in? ? @scenario.offtaker_location.name : @scenario.supplier_location.name %>' to '<%= offtaker_signed_in? ? @scenario.supplier_location.name : @scenario.offtaker_location.name %>''
      </h1>
      <div class="buttons my-3">    
        <%= link_to scenario_path(@scenario), method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure you want to delete this scenario?" }, class: "btn btn-danger"  do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>
        <%= button_to calculate_again_path(@scenario), 
              method: :post, 
              'aria-label': "Re-run calculations", 
              class: "btn btn-info",
              form_class: "d-inline-block",
              data: { 
                'balloon-pos': 'up' 
                } do %>
          <i class="fa-solid fa-retweet"></i>
        <% end %>
        <% if offtaker_signed_in? %>
          <button
          data-controller="mark-favourite" data-action="click->mark-favourite#handleClick"
          data-url="<%= mark_favourite_url(@scenario) %>"
          class="rating-button btn <%= 'active' if @scenario.favourite %>">
            <i class="fa-solid fa-star"></i> 
          </button>
        <% elsif supplier_signed_in? %>
          <button
          aria-label="<%= @scenario.favourite ? 'Offtaker has favourited this scenario' : 'Scenario has not been favourited' %>" data-balloon-pos="up"
          class="rating-button btn <%= 'active' if @scenario.favourite %>">
            <i class="fa-solid fa-star"></i> 
          </button>
        <% end %>
      </div>

      <ul class="nav nav-pills" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="scenario-tab" data-bs-toggle="tab" data-bs-target="#scenario" type="button" role="tab" aria-controls="scenario" aria-selected="true">
            Scenario
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="offtaker-tab" data-bs-toggle="tab" data-bs-target="#offtaker" type="button" role="tab" aria-controls="offtaker" aria-selected="false">
            Offtaker location
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="supplier-tab" data-bs-toggle="tab" data-bs-target="#supplier" type="button" role="tab" aria-controls="supplier" aria-selected="false">
            Supplier location
          </button>
        </li>
      </ul>

      <div class="tab-content my-4" id="myTabContent">
        <div class="tab-pane show active pb-4" id="scenario" role="tabpanel" aria-labelledby="scenario-tab">
          <div class="data">
            <div class="data-label">
              Offtaker location: 
            </div>
            <div class="data-value <%= 'empty' unless @scenario.offtaker_location.name || @scenario.offtaker_location.address %>">
              <%= @scenario.offtaker_location.name || @scenario.offtaker_location.address %>
            </div>
            <div class="data-label">
              Supplier location: 
            </div>
            <div class="data-value <%= 'empty' unless @scenario.supplier_location.name || @scenario.supplier_location.address %>">
              <%= @scenario.supplier_location.name || @scenario.supplier_location.address %>
            </div>
            <div class="data-label">
              Distance: 
            </div>
            <div class="data-value <%= 'empty' unless @scenario.distance %>">
              <%= @scenario.present.distance %>
            </div>
            <div class="data-label">
              Costs Road H2: 
            </div>
            <div class="data-value <%= 'empty' unless @scenario.costs_road %>">
              <%= @scenario.present.costs_road %>
            </div>
            <div class="data-label">
              Costs Pipeline H2: 
            </div>
            <div class="data-value <%= 'empty' unless @scenario.costs_pipeline %>">
              <%= @scenario.present.costs_pipeline %>
            </div>
            <div class="data-label">
              Required Offtaker H2: 
            </div>
            <div class="data-value <%= 'empty' unless @scenario.present.required_hydrogen_volume? %>">
              <%= @scenario.present.required_hydrogen_volume %>
            </div>
            <div class="data-label">
              Required Offtaker O2: 
            </div>
            <div class="data-value <%= 'empty' unless @scenario.present.required_oxygen_volume? %>">
              <%= @scenario.present.required_oxygen_volume %>
            </div>
            <div class="data-label">
              Costs import H2: 
            </div>
            <div class="data-value <%= 'empty' unless @scenario.costs_import %>">
              <%= @scenario.present.costs_import %>
            </div>
            <div class="data-label">
              Cheapest option H2: 
            </div>
            <div class="data-value <%= 'empty' unless @cheapest %>">
              <%= @scenario.present.cheapest_option(@cheapest) %>
            </div>
          </div>
        </div>
        <div class="tab-pane pb-4" id="offtaker" role="tabpanel" aria-labelledby="offtaker-tab">
          <div class="data">
            <div class="data-label">
              Name: 
            </div>
            <div class="data-value">
              <%= @scenario.offtaker_location.name %>
            </div>
            <div class="data-label">
              Longitude: 
            </div>
            <div class="data-value">
              <%= @scenario.offtaker_location.longitude %>
            </div>
            <div class="data-label">
              Latitude: 
            </div>
            <div class="data-value">
              <%= @scenario.offtaker_location.latitude %>
            </div>
            <div class="data-label">
              Postal code: 
            </div>
            <div class="data-value">
              <%= @scenario.offtaker_location.postal_code %>
            </div>
            <div class="data-label">
              House number: 
            </div>
            <div class="data-value">
              <%= @scenario.offtaker_location.house_nr %>
            </div>
            <div class="data-label">
              Arranges own transport: 
            </div>
            <div class="data-value">
              <%= @scenario.offtaker_location.own_transport %>
            </div>
            <div class="data-label">
              Required hydrogen volume: 
            </div>
            <div class="data-value">
              <%= @scenario.offtaker_location.required_hydrogen_volume %> kg
            </div>
            <div class="data-label">
              Required hydrogen pressure: 
            </div>
            <div class="data-value">
              <%= @scenario.offtaker_location.required_hydrogen_pressure %>
            </div>
            <div class="data-label">
              Required hydrogen purity: 
            </div>
            <div class="data-value">
              <%= @scenario.offtaker_location.required_hydrogen_purity %>
            </div>
            <div class="data-label">
              Required oxygen volume: 
            </div>
            <div class="data-value">
              <%= @scenario.offtaker_location.required_oxygen_volume %>
            </div>
          </div>
        </div>
        <div class="tab-pane pb-4" id="supplier" role="tabpanel" aria-labelledby="supplier-tab">
          <div class="data">
            <div class="data-label">
              name
            </div>
            <div class="data-value">
              <%= @scenario.supplier_location.name %>
            </div>
            <div class="data-label">
              longitude
            </div>
            <div class="data-value">
              <%= @scenario.supplier_location.longitude %>
            </div>
            <div class="data-label">
              latitude
            </div>
            <div class="data-value">
              <%= @scenario.supplier_location.latitude %>
            </div>
            <div class="data-label">
              postal_code
            </div>
            <div class="data-value">
              <%= @scenario.supplier_location.postal_code %>
            </div>
            <div class="data-label">
              house_nr
            </div>
            <div class="data-value">
              <%= @scenario.supplier_location.house_nr %>
            </div>
            <div class="data-label">
              pickup_available
            </div>
            <div class="data-value">
              <%= @scenario.supplier_location.pickup_available %>
            </div>
          </div>
          <div class="data-wrapper data-list">
            <h4 class="my-3">
              Supply details by purity
            </h4>


            <div class="accordion my-3" id="supply-types-accordion">
              <% @scenario.supplier_location.supply_types.each_with_index do |supply_type, index| %>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="<%= supply_type.id %>">
                    <button class="accordion-button <%= 'collapsed' unless supply_type.name === @scenario.offtaker_location.required_hydrogen_purity %>" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-<%= supply_type.id %>" aria-expanded="true" aria-controls="collapse-<%= supply_type.id %>">
                      <%= supply_type.name %>
                    </button>
                  </h2>
                  <div id="collapse-<%= supply_type.id %>" class="accordion-collapse collapse <%= 'show' if supply_type.name === @scenario.offtaker_location.required_hydrogen_purity %>" aria-labelledby="<%= supply_type.id %>" data-bs-parent="#supply-types-accordion">
                    <div class="accordion-body light-wrapper pb-5">
                      <div class="data">
                        <div class="data-label">
                          Name 
                        </div>
                        <div class="data-value">
                          <%= supply_type.name %> 
                          <span data-balloon-pos="up" aria-label="<%= supply_type.present.description %>">
                            <i class="fa-solid fa-circle-question"></i>
                          </span>
                        </div>
                        <div class="data-label">
                          Minimum hydrogen volume
                        </div>
                        <div class="data-value">
                          <%= supply_type.minimum_hydrogen_volume %> kg
                        </div>
                        <div class="data-label">
                          Maximum hydrogen volume
                        </div>
                        <div class="data-value">
                          <%= supply_type.maximum_hydrogen_volume %> kg
                        </div>
                        <div class="data-label">
                          Pressure type hydrogen
                        </div>
                        <div class="data-value">
                          <%= supply_type.pressure_type_hydrogen %>
                        </div>
                        <div class="data-label">
                          Compression costs
                        </div>
                        <div class="data-value">
                          <%= supply_type.present.compression_costs %>
                        </div>
                        <div class="data-label">
                          Transport costs
                        </div>
                        <div class="data-value">
                          <%= supply_type.present.transport_costs %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>

          </div>
        </div>
      </div>

    <% if offtaker_signed_in? %>
      <%= link_to offtakers_offtaker_location_path(@scenario.offtaker_location), class: "btn btn-primary" do %>
        Find other locations &rarr;
      <% end %>
    <% end %>

    </div>
    <div class="col-12 col-md-6 order-1 order-md-2">
      <div data-controller="route">
        <div id="routing-results"></div>

        <div 
          id="map" 
          data-route-target="map" 
          data-key="<%= ENV['MAPBOX_API_KEY'] %>" 
          data-center="<%= [@scenario.offtaker_location.longitude, @scenario.offtaker_location.latitude].to_json %>" 
          data-zoom="9" 
          data-origin="<%= [@scenario.offtaker_location.longitude, @scenario.offtaker_location.latitude, (@scenario.offtaker_location.name || @scenario.offtaker_location.address), @scenario.offtaker_location.id].to_json %>" 
          data-destination="<%= [@scenario.supplier_location.longitude, @scenario.supplier_location.latitude, (@scenario.supplier_location.name || @scenario.supplier_location.address), @scenario.supplier_location.id].to_json %>"
        >
        </div>
        <div class="map-padding"></div>
      </div>
    </div>
  </div>
</div>