<!DOCTYPE html>
<html>
  <head>
    <%= render partial: "layouts/head" %>
  </head>

  <body class="<%= "#{params[:controller]}-#{params[:action]}" %> <%= set_user_type %>">
    <% unless @dashboard %>
      <%= render 'shared/navbar' %>
    <% end %>
    <%= render 'shared/flashes' %>
    <main class="<%= 'devise' if devise_controllers %>">
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KXV3X34"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  </body>
</html>
