<!DOCTYPE html>
<html>
  <head>
    <%= render partial: "layouts/head" %>
  </head>

  <body class="<%= "#{params[:controller]}-#{params[:action]}" %>">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <main>
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
